* {
  margin: 0px;
  padding: 0px;
}

p,
ul,
li,
a,
nav,
input,
label,
form,
h3 {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-family: "Alice", serif;
}

:root {
  --blue: #1188ee;
  --dark-blue: #17222d;
  --pumpkin: #ee2211;
  --gray: #bbccdd;
  --shadow: #17222d;
  --border-icon: #eff4f9;
  --background-gray: #eff4f9;
}

/* Descrição acima do Header */
.descriptionAboveHeader {
  background-color: var(--blue);

  width: 100%;
  height: 30px;
}

.descriptionAboveHeader p {
  padding-top: 7.4px;
  padding-left: 45px;
  color: white;
  font-size: 14px;
  font-weight: normal;
}
/* FIM | Descrição acima do Header */

/* Header */
.header {
  background-color: var(--dark-blue);
  width: 100%;
  height: 60px;
}

.header a img {
  margin-left: 45px;
  padding-top: 8px;
}

.header nav {
  display: flex;
  float: right;
  margin-top: 17px;
}

.header ul {
  list-style: none;
  display: flex;
}

.header li {
  padding-right: 0px;
}

.header a {
  text-decoration: none;
  text-transform: none;
  color: white;
  font-size: 18px;
}

.register {
  border-bottom: 2px solid var(--pumpkin);
  margin-right: 45px;
}

.navIcon {
  padding-top: 3px;
  padding-left: 25px;
  padding-right: 25px;
}
/* FIM | Header */

/* Introduction */
.surfSchool img {
  width: 100%;
  max-height: 400px;
}

.surfSchool h1 {
  font-size: 72px;
  font-weight: lighter;
  color: white;

  margin-top: 0px;
  margin-left: 45px;

  display: flex;
  float: left;

  position: absolute;
  margin-top: 280px;
}

#form {
  display: flex;
  left: 61%;
  top: 50%;
  position: absolute;

  box-shadow: 5px 5px 8px var(--shadow);
}

#email {
  font-size: 18px;
  font-weight: 500;
  color: var(--gray);

  padding-top: 15px;
  padding-left: 20px;
  padding-right: 100px;
  padding-bottom: 15px;

  border-radius: 5px 0px 0px 5px;
  border: none;
}

#registerButton {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: white;
  text-transform: uppercase;

  background-color: var(--pumpkin);

  padding-top: 9px;
  padding-right: 50px;
  padding-left: 20px;
  padding-bottom: 9px;

  border-radius: 0px 5px 5px 0px;
  border: none;
  cursor: pointer;
}
/* FIM | Introduction */

/* Description */
.description img {
  margin-top: 60px;
  margin-left: 45px;

  display: block;
}

.description p {
  font-family: "Alice", serif;
  font-size: 72px;
  line-height: 74, 04px;

  position: absolute;
  top: 69%;
  left: 60%;
}

.OurHomeIsInSea img {
  box-shadow: 4px 4px 40px 2px var(--shadow); /* MELHORAR ESTA SOMBRA */
}

.map img {
  margin-top: -100px;
  margin-left: 60px;
  box-shadow: 4px 4px 40px 2px var(--shadow); /* MELHORAR ESTA SOMBRA */
}

.descriptionIcons p,
.descriptionIcons img {
  display: flex;
  float: left;
}

.coast {
  position: absolute;
  top: 110%;
  left: 60%;

  width: 470px;
  padding-top: 25px;
  padding-bottom: 25px;

  border-top: 2px solid var(--border-icon);
  border-bottom: 2px solid var(--border-icon);
}

.coast p {
  padding-top: 15px;
  padding-left: 30px;
}

.restaurants {
  position: absolute;
  top: 124%;
  left: 60%;

  width: 470px;
  padding-top: 25px;
  padding-bottom: 25px;

  border-bottom: 2px solid var(--border-icon);
}

.restaurants p {
  padding-top: 22px;
  padding-left: 30px;
}

.lifePreserver {
  position: absolute;
  top: 139%;
  left: 60%;

  width: 470px;
  padding-top: 25px;
  padding-bottom: 25px;

  border-bottom: 2px solid var(--border-icon);
}

.lifePreserver p {
  padding-top: 22px;
  padding-left: 30px;
}

.descriptionTextArea {
  display: block;
  float: right;

  margin-top: -120px;
  margin-left: 60%;
  margin-right: 100px;

  font-size: 18px;
}

.descriptionTextArea p {
  margin-bottom: 30px;
}

.howToGet {
  position: absolute;
  top: 179%;
}

.howToGet h1 {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;

  margin-left: 75px;
}

.howToGet img {
  margin-left: 60px;
  margin-top: -14px;
}

.howToGetList {
  margin-top: 10px;
  margin-bottom: 10px;
}

.howToGetList ul li {
  font-size: 14px;
  margin-top: 25px;
  margin-left: 95px;

  list-style: none;
}

.howToGetList img {
  margin-left: -18px;
  padding-top: 5px;
}
/* END | Description */

/* Plans */
#plans {
  width: 100%;
  height: 750px;

  background-color: var(--background-gray);

  margin-top: 250px;
}

#plans img {
  position: absolute;
  top: 201%;
  left: 46%;
}

#plans h1 {
  font-size: 72px;
  font-weight: lighter;

  position: absolute;
  top: 215%;
  left: 46%;
}

.pricesOfOurPlans {
  width: 370px;
  height: 435px;
  background-color: white;

  position: absolute;
  top: 230%;
  left: 45px;

  border-radius: 5px;
  box-shadow: 1px 2px 8px 2px var(--shadow); /* MELHORAR ESTA SOMBRA */
}

.kids img {
  margin-left: 70px;
}

.kids h1 {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  text-transform: uppercase;

  display: flex;
  justify-content: center;

  margin-top: 45px;
  margin-bottom: 20px;
}

#kids img {
  position: absolute;
  top: -4.5%;
  left: 105px;
}

.kids ul li {
  list-style: none;
}

.listIcon img {
  display: flex;
  float: left;

  margin-top: 9px;
  margin-left: 80px;
  margin-right: 10px;
}

.firstItemOfTheClass {
  margin-top: 30px;
}

.lastItemOfTheClass {
  margin-bottom: 30px;
}

.kids b {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: var(--blue);

  display: flex;

  margin-top: 20px;
  margin-left: 80px;
}

.kids button {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: white;
  text-transform: uppercase;

  background-color: var(--dark-blue);

  padding-top: 9px;
  padding-right: 50px;
  padding-left: 20px;
  padding-bottom: 9px;

  border-radius: 5px;
  border: none;
  cursor: pointer;

  margin-top: 35px;
  margin-left: 75px;
}

.adultPlans {
  width: 370px;
  height: 435px;
  background-color: white;

  position: absolute;
  top: 230%;
  left: 560px;

  border-radius: 5px;
  box-shadow: 1px 2px 8px 2px var(--shadow); /* MELHORAR ESTA SOMBRA */
}

.adult img {
  margin-left: 70px;
}

.adult h1 {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  text-transform: uppercase;

  display: flex;
  justify-content: center;

  margin-top: 45px;
  margin-bottom: 20px;
}

#adult img {
  position: absolute;
  top: -4.5%;
  left: 15px;
  right: 15px;
}

.adult ul li {
  list-style: none;
}

.listIcon img {
  display: flex;
  float: left;

  margin-top: 9px;
  margin-left: 80px;
  margin-right: 10px;
}

.firstItemOfTheClass {
  margin-top: 30px;
}

.lastItemOfTheClass {
  margin-bottom: 30px;
}

.adult b {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: var(--blue);

  display: flex;

  margin-top: 20px;
  margin-left: 80px;
}

.adult button {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: white;
  text-transform: uppercase;

  background-color: var(--dark-blue);

  padding-top: 9px;
  padding-right: 50px;
  padding-left: 20px;
  padding-bottom: 9px;

  border-radius: 5px;
  border: none;
  cursor: pointer;

  margin-top: 35px;
  margin-left: 75px;
}
/* END | Plans */
