* {
  margin: 0px;
  padding: 0px;
}

p,
ul,
li,
a,
nav,
input,
label,
form,
h3 {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-family: "Alice", serif;
}

:root {
  --blue: #1188ee;
  --dark-blue: #17222d;
  --pumpkin: #ee2211;
  --gray: #bbccdd;
  --shadow: #17222d;
  --border-icon: #eff4f9;
  --background-gray: #eff4f9;
  --title-gray: #445566;
}

/* Descrição acima do Header */
.descriptionAboveHeader {
  background-color: var(--blue);

  width: 100%;
  height: 30px;
}

.descriptionAboveHeader p {
  padding-top: 7.4px;
  padding-left: 45px;
  color: white;
  font-size: 14px;
  font-weight: normal;
}
/* FIM | Descrição acima do Header */

/* Header */
.header {
  background-color: var(--dark-blue);
  width: 100%;
  height: 60px;
}

.header a img {
  margin-left: 45px;
  padding-top: 8px;
}

.header nav {
  display: flex;
  float: right;
  margin-top: 17px;
}

.header ul {
  list-style: none;
  display: flex;
}

.header li {
  padding-right: 0px;
}

.header a {
  text-decoration: none;
  text-transform: none;
  color: white;
  font-size: 18px;
}

.register {
  border-bottom: 2px solid var(--pumpkin);
  margin-right: 45px;
}

.navIcon {
  padding-top: 3px;
  padding-left: 25px;
  padding-right: 25px;
}
/* FIM | Header */

/* Introduction */
.surfSchool img {
  width: 100%;
  max-height: 400px;
}

.surfSchool h1 {
  font-size: 72px;
  font-weight: lighter;
  color: white;

  margin-top: 0px;
  margin-left: 45px;

  display: flex;
  float: left;

  position: absolute;
  margin-top: 280px;
}

#form {
  display: flex;
  left: 60%;
  top: 50%;
  position: absolute;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

#email {
  font-size: 18px;
  font-weight: 500;

  width: 320px;
  height: 50px;

  padding-left: 20px;

  border-radius: 5px 0px 0px 5px;
  border: none;
}

::placeholder {
  color: var(--gray);
}

#registerButton {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: white;
  text-transform: uppercase;

  background-color: var(--pumpkin);

  width: 180px;

  border-radius: 0px 5px 5px 0px;
  border: none;
  cursor: pointer;
}
/* FIM | Introduction */

/* Description */
.description img {
  margin-top: 60px;
  margin-left: 45px;

  display: block;
}

.description p {
  font-family: "Alice", serif;
  font-size: 72px;
  line-height: 74, 04px;

  position: absolute;
  top: 69%;
  left: 60%;
}

.OurHomeIsInSea img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.map img {
  margin-top: -100px;
  margin-left: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.descriptionIcons p,
.descriptionIcons img {
  display: flex;
  float: left;
}

.coast {
  position: absolute;
  top: 110%;
  left: 60%;

  width: 470px;
  padding-top: 25px;
  padding-bottom: 25px;

  border-top: 2px solid var(--border-icon);
  border-bottom: 2px solid var(--border-icon);
}

.coast p {
  padding-top: 15px;
  padding-left: 30px;
}

.restaurants {
  position: absolute;
  top: 124%;
  left: 60%;

  width: 470px;
  padding-top: 25px;
  padding-bottom: 25px;

  border-bottom: 2px solid var(--border-icon);
}

.restaurants p {
  padding-top: 22px;
  padding-left: 30px;
}

.lifePreserver {
  position: absolute;
  top: 139%;
  left: 60%;

  width: 470px;
  padding-top: 25px;
  padding-bottom: 25px;

  border-bottom: 2px solid var(--border-icon);
}

.lifePreserver p {
  padding-top: 22px;
  padding-left: 30px;
}

.descriptionTextArea {
  display: block;
  float: right;

  margin-top: -120px;
  margin-left: 60%;
  margin-right: 100px;

  font-size: 18px;
}

.descriptionTextArea p {
  margin-bottom: 30px;
}

.howToGet {
  position: absolute;
  top: 179%;
}

.howToGet h1 {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;

  margin-left: 75px;
}

.howToGet img {
  margin-left: 60px;
  margin-top: -14px;
}

.howToGetList {
  margin-top: 10px;
  margin-bottom: 10px;
}

.howToGetList ul li {
  font-size: 14px;
  margin-top: 25px;
  margin-left: 95px;

  list-style: none;
}

.howToGetList img {
  margin-left: -18px;
  padding-top: 5px;
}
/* END | Description */

/* Plans */
#plans {
  /* BACKGROUND */
  width: 100%;
  height: 750px;

  background-color: var(--background-gray);

  margin-top: 250px;
}

.titleAndIcon img {
  position: absolute;
  top: 200.7%;
  left: 44%;
}

.titleAndIcon h1 {
  font-size: 72px;
  font-weight: lighter;
  color: var(--title-gray);

  padding-top: 100px;

  display: flex;
  justify-content: center;
}

#backgroundDivKids {
  width: 370px;
  height: 435px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

  position: absolute;
  top: 235%;
  left: 5%;
}

#backgroundDivKids img {
  margin-top: -20px;
}

.kids h1 {
  display: flex;
  justify-content: center;

  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--title-gray);

  margin-top: 20px;
  padding-bottom: 5px;
}

.kids p {
  font-weight: bold;
  font-size: 14px;
  color: var(--blue);
  text-align: left;

  margin-top: 20px;
  margin-left: 70px;
  margin-bottom: 20px;
}

.kidsDescriptionPlans {
  list-style: none;
  text-align: left;

  margin-top: 30px;
  margin-left: 75px;
  margin-bottom: 30px;
}

.kidsDescriptionPlans img {
  padding-right: 5px;
}

.btnKids input {
  width: 230px;
  height: 40px;

  font-family: "Nunito", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: lighter;
  color: white;
  background-color: var(--dark-blue);

  border: none;
  border-radius: 5px;

  margin-top: 20px;
}

/* -------- */
#backgroundDivAdults {
  width: 370px;
  height: 435px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

  position: absolute;
  top: 235%;
  left: 525px;
}

#backgroundDivAdults img {
  margin-top: -20px;
  padding-left: 10px;
}

.adults h1 {
  display: flex;
  justify-content: center;

  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--title-gray);

  margin-top: 20px;
  padding-bottom: 5px;
}

.adults p {
  font-weight: bold;
  font-size: 14px;
  color: var(--blue);
  text-align: left;

  margin-top: 20px;
  margin-left: 70px;
  margin-bottom: 20px;
}

.adultsDescriptionPlans {
  list-style: none;
  text-align: left;

  margin-top: 30px;
  margin-left: 75px;
  margin-bottom: 30px;
}

.adultsDescriptionPlans img {
  padding-right: 5px;
}

.btnAdults input {
  width: 230px;
  height: 40px;

  font-family: "Nunito", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: lighter;
  color: white;
  background-color: var(--dark-blue);

  border: none;
  border-radius: 5px;

  margin-top: 20px;
}

/* --------- */
#backgroundDivProfessionals {
  width: 370px;
  height: 435px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

  position: absolute;
  top: 235%;
  right: 5%;
}

#backgroundDivProfessionals img {
  margin-top: -20px;
  padding-left: 10px;
}

.professionals h1 {
  display: flex;
  justify-content: center;

  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--title-gray);

  margin-top: 20px;
  padding-bottom: 5px;
}

.professionals p {
  font-weight: bold;
  font-size: 14px;
  color: var(--blue);
  text-align: left;

  margin-top: 20px;
  margin-left: 70px;
  margin-bottom: 20px;
}

.professionalsDescriptionPlans {
  list-style: none;
  text-align: left;

  margin-top: 30px;
  margin-left: 75px;
  margin-bottom: 30px;
}

.professionalsDescriptionPlans img {
  padding-right: 5px;
}

.btnProfessionals input {
  width: 230px;
  height: 40px;

  font-family: "Nunito", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: lighter;
  color: white;
  background-color: var(--pumpkin);

  border: none;
  border-radius: 5px;

  margin-top: 20px;
}

/* END | Plans */
